[Desktop Entry]
Version=1.0
Type=Application
Name=Google Calendar
Icon=/home/tharpem/Pictures/icons/gcal.png
Exec=/home/tharpem/Applications/GoogleCalendar-linux-x64/GoogleCalendar
Comment=Google Calendar
Categories=Office;
Terminal=false
StartupWMClass=googlecalendar-nativefier-e22938
