---
- name: Setup Gnome
  community.general.dconf:
    key: "{{ item.k }}"
    value: "{{ item.v }}"
    state: present
  become: true
  become_user: "{{ local_user }}"
  when: ansible_facts['virtualization_type'] is not defined or ansible_facts['virtualization_type'] != 'container'
  loop:
    - k: /org/gnome/desktop/interface/clock-format
      v: "'12h'"

    - k: /org/gnome/desktop/boxes/first-run
      v: "false"

    - k: /org/gnome/desktop/interface/cursor-theme
      v: "'Adwaita'"

    - k: /org/gnome/desktop/interface/enable-hot-corners
      v: "false"

    - k: /org/gnome/desktop/interface/gtk-theme
      v: "'Adwaita-dark'"

    - k: /org/gnome/desktop/interface/color-scheme
      v: "'prefer-dark'"

    - k: /org/gnome/desktop/interface/icon-theme
      v: "'Adwaita'"

    - k: /org/gnome/desktop/interface/show-battery-percentage
      v: "true"

    - k: /org/gnome/desktop/datetime/automatic-timezone
      v: "true"

    - k: /org/gnome/desktop/privacy/remember-app-usage
      v: "false"

    - k: /org/gnome/system/location/enabled
      v: "true"

    - k: /org/gnome/system/location/max-accuracy-level
      v: "'exact'"

    - k: /org/gnome/terminal/legacy/confirm-close
      v: "false"

    - k: /org/gnome/terminal/legacy/shell-integration-enabled
      v: "true"

    - k: /org/gnome/terminal/legacy/theme-variant
      v: "'dark'"

    - k: /org/gnome/terminal/legacy/unified-menu
      v: "false"

    - k: /org/gnome/shell/overrides/dynamic-workspaces
      v: "false"

    - k: /org/gnome/mutter/dynamic-workspaces
      v: "false"

    - k: /org/gnome/desktop/wm/preferences/num-workspaces
      v: 5

    - k: /org/gnome/shell/overrides/workspaces-only-on-primary
      v: "true"

    - k: /org/gnome/shell/window-switcher/current-workspace-only
      v: "false"

    - k: /org/gnome/desktop/peripherals/touchpad/natural-scroll
      v: "false"

    - k: /org/gnome/peripherals/mouse/natural-scroll
      v: "false"

    - k: /org/gnome/desktop/wm/preferences/button-layout
      v: "'appmenu:minimize,maximize,close'"

    - k: /org/gnome/shell/weather/automatic-location
      v: "true"

    - k: /org/gnome/shell/weather/locations
      v: "[<(uint32 2, <('Indianapolis', 'KIND', true, [(0.69333204535474746, -1.5059040078213661)], [(0.69408911682438501, -1.5037415099715601)])>)>]"

# Install and enable GNOME extensions via community.general.gnome_extensions
- name: Install and enable GNOME extension Vitals
  community.general.gnome_extensions:
    uuid: "Vitals@CoreCoding.com"
    state: present
    enable: true
  become: true
  become_user: "{{ local_user }}"

- name: Install and enable GNOME extension Just Perfection
  community.general.gnome_extensions:
    uuid: "just-perfection-desktop@just-perfection"
    state: present
    enable: true
  become: true
  become_user: "{{ local_user }}"

- name: Install and enable GNOME extension AppIndicator (KStatusNotifier)
  community.general.gnome_extensions:
    uuid: "appindicatorsupport@rgcjonas.gmail.com"
    state: present
    enable: true
  become: true
  become_user: "{{ local_user }}"

- name: Install and enable GNOME extension Auto Move Windows
  community.general.gnome_extensions:
    uuid: "auto-move-windows@gnome-shell-extensions.gcampax.github.com"
    state: present
    enable: true
  become: true
  become_user: "{{ local_user }}"

- name: Install and enable GNOME extension Always Indicator
  community.general.gnome_extensions:
    uuid: "always-indicator@nevermore"
    state: present
    enable: true
  become: true
  become_user: "{{ local_user }}"

- name: Install and enable GNOME extension Bluetooth Quick Connect
  community.general.gnome_extensions:
    uuid: "bluetooth-quick-connect@martin.zurowietz.de"
    state: present
    enable: true
  become: true
  become_user: "{{ local_user }}"
