---
- name: Add HashiCorp repository
  become: true
  ansible.builtin.yum_repository:
    name: hashicorp
    description: HashiCorp Official Linux Repository
    baseurl: https://rpm.releases.hashicorp.com/fedora/$releasever/$basearch/stable
    gpgkey: https://rpm.releases.hashicorp.com/gpg
    gpgcheck: true
    enabled: true

- name: Install RPM Fusion Free release RPM
  ansible.builtin.get_url:
    url: "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_facts.distribution_major_version }}.noarch.rpm"
    dest: /tmp/rpmfusion-free-release.rpm
    mode: '0644'
  become: true
  when: ansible_facts['virtualization_type'] is not defined or ansible_facts['virtualization_type'] != 'container'

- name: Install RPM Fusion Free release RPM
  become: true
  ansible.builtin.dnf:
    name: "/tmp/rpmfusion-free-release.rpm"
    state: present
    disable_gpg_check: true
  when: ansible_facts['virtualization_type'] is not defined or ansible_facts['virtualization_type'] != 'container'

- name: Install RPM Fusion Nonfree release RPM
  ansible.builtin.get_url:
    url: "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_facts.distribution_major_version }}.noarch.rpm"
    dest: /tmp/rpmfusion-nonfree-release.rpm
    mode: '0644'
  become: true
  when: ansible_facts['virtualization_type'] is not defined or ansible_facts['virtualization_type'] != 'container'

- name: Install RPM Fusion Nonfree release RPM
  become: true
  ansible.builtin.dnf:
    name: "/tmp/rpmfusion-nonfree-release.rpm"
    state: present
    disable_gpg_check: true
  when: ansible_facts['virtualization_type'] is not defined or ansible_facts['virtualization_type'] != 'container'

- name: Add 1Password repository
  become: true
  ansible.builtin.yum_repository:
    name: 1password
    description: 1Password Linux Repository
    baseurl: https://downloads.1password.com/linux/rpm/stable/$basearch
    gpgkey: https://downloads.1password.com/linux/keys/1password.asc
    gpgcheck: true
    enabled: true
    state: present
  changed_when: false

- name: Refresh DNF metadata
  become: true
  ansible.builtin.dnf:
    update_cache: true
  changed_when: false
